In [3]:
import pandas as pd

In [4]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\ex1.csv")

In [5]:
df

  a;b;c;d;message
0   1;2;3;4;hello
1   5;6;7;8;world
2  9;10;11;12;foo

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
a;b;c;d;message    3 non-null object
dtypes: object(1)
memory usage: 152.0+ bytes

In [7]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\ex1.csv",sep=";")

In [8]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",index_col="Rank")

In [10]:
df

,Name,Industry,Revenue,Profit,Employees,Country,Date
Rank,,,,,,,
1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [11]:
df.loc[1]

Name                Walmart
Industry             Retail
Revenue           $514,405
Profit               $6,670
Employees         2,200,000
Country       United States
Date               1/2/2012
Name: 1, dtype: object

In [12]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",index_col="Name")

In [13]:
df

,Rank,Industry,Revenue,Profit,Employees,Country,Date
Name,,,,,,,
Walmart,1,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
Sinopec,2,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
Royal Dutch Shell,3,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
China National Petroleum,4,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
State Grid,5,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
Saudi Aramco,6,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
BP,7,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
ExxonMobil,8,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
Volkswagen,9,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
Toyota,10,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
Apple,11,Electronics,"$265,595","$59,531",132,United States,3/13/2018
Berkshire Hathaway,12,Financials,"$247,837","$4,021",389,United States,3/14/2018
Amazon,13,Retail,"$232,887","$10,073",647,United States,3/15/2018
UnitedHealth,14,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
Samsung Electronics,15,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
Glencore,16,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
McKesson,17,Healthcare,"$214,319",$34,70,United States,3/19/2018
Daimler,18,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
CVS Health,19,Healthcare,"$194,579",-$594,295,United States,NONE
Total,20,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
China State Construction,21,Construction,"$181,524","$3,159",302.827,China,3/23/2018
Trafigura,22,Commodities,None,$849,4.316,Singapore,3/24/2018
Foxconn,23,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
Exor,24,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
AT&T,25,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
ICBC,26,Financials,"$168,979","$45,002",449.296,China,3/28/2018
AmerisourceBergen,27,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
Chevron,28,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
Ping An Insurance,29,Financials,"$163,597",NaN,342.55,China,3/31/2018
Ford,30,Automotive,"$160,338","$3,677",199,United States,4/1/2018
China Construction Bank,31,Financials,"$151,110","$38,498",366.996,China,4/2/2018
General Motors,32,Automotive,"$147,049","$8,014",173,United States,4/3/2018
NaN,33,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
Honda,34,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
Costco,35,Retail,"$141,576","$3,134",194,United States,4/6/2018
Agricultural Bank of China,36,Financials,"$139,523","$30,656",477.526,China,4/7/2018
Alphabet,37,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
Cardinal Health,38,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
SAIC Motor,39,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
Walgreens Boots Alliance,40,Retail,"$131,537","$5,024",299,United States,4/11/2018
JPMorgan Chase,41,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
Gazprom,42,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
Verizon,43,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
Bank of China,44,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
Allianz,45,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
AXA,46,Financials,"$125,578","$2,525",104.065,France,4/17/2018
Kroger,47,Retail,"$121,162","$3,110",453,United States,4/18/2018
General Electric,48,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
Fannie Mae,49,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
Lukoil,50,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [14]:
df.loc["Ford"]

Rank                     30
Industry         Automotive
Revenue           $160,338
Profit               $3,677
Employees               199
Country       United States
Date               4/1/2018
Name: Ford, dtype: object

In [15]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",index_col="Industry")

In [16]:
df

,Rank,Name,Revenue,Profit,Employees,Country,Date
Industry,,,,,,,
Retail,1,Walmart,"$514,405","$6,670","2,200,000",United States,1/2/2012
Oil and gas,2,Sinopec,"$414,649","$5,845",619.151,China,3/31/2017
Oil and gas,3,Royal Dutch Shell,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
Oil and gas,4,China National Petroleum,"$392,976","$2,270","1,382,401",China,2/19/2000
Electricity,5,State Grid,"$387,056","$8,174",917.717,China,11/15/2010
Oil and gas,6,Saudi Aramco,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
Oil and gas,7,BP,"$303,738","$9,383",73,United Kingdom,4/19/2019
Oil and gas,8,ExxonMobil,"$290,212","$20,840",71,United States,3/10/2018
NaN,9,Volkswagen,"$278,341","$14,332",664.496,Germany,3/11/2018
Automotive,10,Toyota,"$272,612","$16,982",370.87,Japan,3/12/2018
Electronics,11,Apple,"$265,595","$59,531",132,United States,3/13/2018
Financials,12,Berkshire Hathaway,"$247,837","$4,021",389,United States,3/14/2018
Retail,13,Amazon,"$232,887","$10,073",647,United States,3/15/2018
Healthcare,14,UnitedHealth,"$226,247","$11,986",300,United States,3/16/2018
Electronics,15,Samsung Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
Commodities,16,Glencore,"$219,754","$3,408",85.504,Switzerland,3/18/2018
Healthcare,17,McKesson,"$214,319",$34,70,United States,3/19/2018
Automotive,18,Daimler,"$197,515","$8,555",298.683,Germany,3/20/2018
Healthcare,19,CVS Health,"$194,579",-$594,295,United States,NONE
Oil and gas,20,Total,"$184,106","$11,446",104.46,France,3/22/2018
Construction,21,China State Construction,"$181,524","$3,159",302.827,China,3/23/2018
Commodities,22,Trafigura,None,$849,4.316,Singapore,3/24/2018
Electronics,23,Foxconn,"$175,617","$4,281",667.68,Taiwan,3/25/2018
Financials,24,Exor,Null,"$1,589",314.79,Netherlands,3/26/2018
Telecommunications,25,AT&T,"$170,756","$19,370",254,United States,3/27/2018
Financials,26,ICBC,"$168,979","$45,002",449.296,China,3/28/2018
Pharmaceutical distribution,27,AmerisourceBergen,"$167,939","$1,658",20.5,United States,3/29/2018
Oil and gas,28,Chevron,"$166,339","$14,824",None,United States,3/30/2018
Financials,29,Ping An Insurance,"$163,597",NaN,342.55,China,3/31/2018
Automotive,30,Ford,"$160,338","$3,677",199,United States,4/1/2018
Financials,31,China Construction Bank,"$151,110","$38,498",366.996,China,4/2/2018
Automotive,32,General Motors,"$147,049","$8,014",173,United States,4/3/2018
Conglomerate,33,NaN,"$145,243","$5,328",79.994,Japan,4/4/2018
Automotive,34,Honda,"$143,302","$5,504",219.772,Japan,4/5/2018
Retail,35,Costco,"$141,576","$3,134",194,United States,4/6/2018
Financials,36,Agricultural Bank of China,"$139,523","$30,656",477.526,China,4/7/2018
Internet,37,Alphabet,"$136,819","$30,736",98.771,United States,4/8/2018
Pharmaceutical distribution,38,Cardinal Health,"$136,809",$256,50.2,United States,4/9/2018
Automotive,39,SAIC Motor,"$136,392","$5,443",147.738,China,4/10/2018
Retail,40,Walgreens Boots Alliance,"$131,537","$5,024",299,United States,4/11/2018
Financials,41,JPMorgan Chase,"$131,412","$32,474",256.105,United States,4/12/2018
Oil and gas,42,Gazprom,"$131,302","$23,199",466.1,Russia,4/13/2018
NaN,43,Verizon,"$130,863","$15,528",144.5,United States,4/14/2018
Financials,44,Bank of China,"$127,714","$27,255",310.119,Empty,4/15/2018
Financials,45,Allianz,"$126,779","$8,806",142.46,Germany,4/16/2018
Financials,46,AXA,"$125,578","$2,525",104.065,France,4/17/2018
Retail,47,Kroger,"$121,162","$3,110",453,United States,4/18/2018
Conglomerate,48,General Electric,"$120,268","-$22,355",283,United States,4/19/2018
Financials,49,Fannie Mae,Nothing,"$15,959",7.4,United States,4/20/2018
Oil and gas,50,Lukoil,"$119,145","$9,863",102.5,Russia,4/21/2018

In [17]:
df.loc["Oil and gas"]

,Rank,Name,Revenue,Profit,Employees,Country,Date
Industry,,,,,,,
Oil and gas,2,Sinopec,"$414,649","$5,845",619.151,China,3/31/2017
Oil and gas,3,Royal Dutch Shell,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
Oil and gas,4,China National Petroleum,"$392,976","$2,270","1,382,401",China,2/19/2000
Oil and gas,6,Saudi Aramco,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
Oil and gas,7,BP,"$303,738","$9,383",73,United Kingdom,4/19/2019
Oil and gas,8,ExxonMobil,"$290,212","$20,840",71,United States,3/10/2018
Oil and gas,20,Total,"$184,106","$11,446",104.46,France,3/22/2018
Oil and gas,28,Chevron,"$166,339","$14,824",None,United States,3/30/2018
Oil and gas,42,Gazprom,"$131,302","$23,199",466.1,Russia,4/13/2018
Oil and gas,50,Lukoil,"$119,145","$9,863",102.5,Russia,4/21/2018

In [18]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",usecols=["Rank","Name","Country"])

In [19]:
df

    Rank                        Name                        Country
0      1                     Walmart                  United States
1      2                     Sinopec                          China
2      3           Royal Dutch Shell   Netherlands / United Kingdom
3      4    China National Petroleum                          China
4      5                  State Grid                          China
5      6                Saudi Aramco                   Saudi Arabia
6      7                          BP                 United Kingdom
7      8                  ExxonMobil                  United States
8      9                  Volkswagen                        Germany
9     10                      Toyota                          Japan
10    11                       Apple                  United States
11    12          Berkshire Hathaway                  United States
12    13                      Amazon                  United States
13    14                UnitedHealth                  United States
14    15         Samsung Electronics                    South Korea
15    16                    Glencore                    Switzerland
16    17                    McKesson                  United States
17    18                     Daimler                        Germany
18    19                  CVS Health                  United States
19    20                       Total                         France
20    21    China State Construction                          China
21    22                   Trafigura                      Singapore
22    23                     Foxconn                         Taiwan
23    24                        Exor                    Netherlands
24    25                        AT&T                  United States
25    26                        ICBC                          China
26    27           AmerisourceBergen                  United States
27    28                     Chevron                  United States
28    29           Ping An Insurance                          China
29    30                        Ford                  United States
30    31     China Construction Bank                          China
31    32              General Motors                  United States
32    33                         NaN                          Japan
33    34                       Honda                          Japan
34    35                      Costco                  United States
35    36  Agricultural Bank of China                          China
36    37                    Alphabet                  United States
37    38             Cardinal Health                  United States
38    39                  SAIC Motor                          China
39    40    Walgreens Boots Alliance                  United States
40    41              JPMorgan Chase                  United States
41    42                     Gazprom                         Russia
42    43                     Verizon                  United States
43    44               Bank of China                          Empty
44    45                     Allianz                        Germany
45    46                         AXA                         France
46    47                      Kroger                  United States
47    48            General Electric                  United States
48    49                  Fannie Mae                  United States
49    50                      Lukoil                         Russia

In [20]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",names=["kolom1","kolom hahaha","a","4","5","6","7","kolom akhir"])

In [21]:
df

,kolom1,kolom hahaha,a,4,5,6,7,kolom akhir
0,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
1,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
2,2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
3,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
4,4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
5,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
6,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
7,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
8,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
9,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
10,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
11,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
12,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
13,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
14,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
15,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
16,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
17,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
18,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
19,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
20,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
21,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
22,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
23,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
24,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
25,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
26,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
27,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
28,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
29,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
30,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
31,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
32,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
33,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
34,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
35,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
36,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
37,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
38,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
39,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
40,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
41,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
42,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
43,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
44,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
45,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
46,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
47,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
48,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
49,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
50,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [22]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",names=["kolom1","kolom hahaha","a","4","5","6","7","kolom akhir"],skiprows=11)

In [23]:
df

,kolom1,kolom hahaha,a,4,5,6,7,kolom akhir
0,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
1,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
2,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
3,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
4,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
5,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
6,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
7,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
8,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
9,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
10,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
11,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
12,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
13,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
14,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
15,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
16,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
17,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
18,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
19,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
20,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
21,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
22,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
23,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
24,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
25,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
26,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
27,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
28,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
29,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
30,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
31,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
32,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
33,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
34,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
35,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
36,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
37,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
38,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
39,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [24]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",skiprows=[i for i in range(1,11)])

In [25]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
1,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
2,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
3,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
4,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
5,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
6,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
7,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
8,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
9,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
10,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
11,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
12,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
13,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
14,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
15,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
16,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
17,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
18,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
19,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
20,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
21,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
22,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
23,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
24,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
25,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
26,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
27,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
28,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
29,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
30,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
31,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
32,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
33,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
34,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
35,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
36,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
37,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
38,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
39,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [26]:
listbuang=[i for i in range(1,11)]

In [27]:
listbuang

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",skiprows=listbuang)

In [29]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
1,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
2,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
3,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
4,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
5,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
6,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
7,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
8,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
9,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
10,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
11,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
12,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
13,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
14,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
15,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
16,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
17,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
18,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
19,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
20,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
21,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
22,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
23,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
24,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
25,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
26,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
27,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
28,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
29,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
30,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
31,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
32,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
33,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
34,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
35,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
36,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
37,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
38,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
39,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [30]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",nrows=15)

In [31]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
1,2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
2,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
3,4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
4,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
5,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
6,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
7,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
8,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
9,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
10,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
11,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
12,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
13,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
14,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018

In [32]:
#mengambil data ke 11 hingga ke 25

In [33]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",skiprows=[i for i in range(1,11)],nrows=15)

In [34]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,11,Apple,Electronics,"$265,595","$59,531",132.000,United States,3/13/2018
1,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389.000,United States,3/14/2018
2,13,Amazon,Retail,"$232,887","$10,073",647.000,United States,3/15/2018
3,14,UnitedHealth,Healthcare,"$226,247","$11,986",300.000,United States,3/16/2018
4,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
5,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
6,17,McKesson,Healthcare,"$214,319",$34,70.000,United States,3/19/2018
7,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
8,19,CVS Health,Healthcare,"$194,579",-$594,295.000,United States,NONE
9,20,Total,Oil and gas,"$184,106","$11,446",104.460,France,3/22/2018
10,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
11,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
12,23,Foxconn,Electronics,"$175,617","$4,281",667.680,Taiwan,3/25/2018
13,24,Exor,Financials,Null,"$1,589",314.790,Netherlands,3/26/2018
14,25,AT&T,Telecommunications,"$170,756","$19,370",254.000,United States,3/27/2018

In [35]:
import numpy as np#bagaimana cara menggenerate 35 angka acak?

In [36]:
listbuang=np.random.randint(1,50,size=35)

In [37]:
listbuang

array([43, 14, 35, 41, 37, 38, 11, 31, 22, 10,  4, 43, 29, 36, 47, 16, 30,
       47, 20, 16, 36, 49, 33, 31, 30, 41, 42,  2, 22, 11, 12, 48, 47, 12,
       14])

In [38]:
#listbuang=[]
#while len(listbuang)<35:
#jangan lupa import random. lalu buat randint dari 1-50
#jika sama jangan di append ke dalam list buang. Jika belum ada di append

In [39]:
import random
random.sample(range(1, 50), 35)#menggenerate 35 angka random secara unik dari 1 sampai 50

[20,
 46,
 30,
 18,
 3,
 10,
 40,
 8,
 7,
 38,
 6,
 9,
 16,
 39,
 44,
 28,
 21,
 17,
 14,
 15,
 47,
 48,
 1,
 49,
 22,
 31,
 34,
 12,
 2,
 4,
 45,
 41,
 35,
 25,
 29]

In [40]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",dtype={"Rank":float})

In [41]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,1.0,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
1,2.0,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
2,3.0,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
3,4.0,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
4,5.0,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
5,6.0,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
6,7.0,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
7,8.0,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
8,9.0,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
9,10.0,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
10,11.0,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
11,12.0,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
12,13.0,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
13,14.0,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
14,15.0,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
15,16.0,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
16,17.0,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
17,18.0,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
18,19.0,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
19,20.0,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
20,21.0,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
21,22.0,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
22,23.0,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
23,24.0,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
24,25.0,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
25,26.0,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
26,27.0,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
27,28.0,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
28,29.0,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
29,30.0,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
30,31.0,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
31,32.0,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
32,33.0,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
33,34.0,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
34,35.0,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
35,36.0,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
36,37.0,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
37,38.0,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
38,39.0,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
39,40.0,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
40,41.0,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
41,42.0,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
42,43.0,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
43,44.0,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
44,45.0,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
45,46.0,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
46,47.0,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
47,48.0,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
48,49.0,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
49,50.0,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
Rank         50 non-null float64
Name         49 non-null object
Industry     48 non-null object
Revenue      50 non-null object
Profit       49 non-null object
Employees    50 non-null object
Country      50 non-null object
Date         50 non-null object
dtypes: float64(1), object(7)
memory usage: 3.2+ KB

In [43]:
#list     x=[1,2,34]
#tuple    x=(1,2,34)
#dictionary  x={}

In [44]:
x=[1,2,34]

In [45]:
x[1]=10

In [46]:
x

[1, 10, 34]

In [47]:
x=(1,2,3)

In [48]:
x={'kunci1':12,'kunci2':15}

In [49]:
x['kunci1']

12

In [50]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",header=5)

In [51]:
df

,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
0,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
1,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
2,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
3,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
4,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
5,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
6,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
7,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
8,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
9,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
10,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
11,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
12,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
13,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
14,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
15,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
16,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
17,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
18,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
19,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
20,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
21,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
22,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
23,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
24,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
25,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
26,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
27,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
28,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
29,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
30,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
31,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
32,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
33,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
34,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
35,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
36,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
37,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
38,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
39,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
40,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
41,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
42,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
43,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
44,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [52]:
df["Electricity"]

0                     Oil and gas
1                     Oil and gas
2                     Oil and gas
3                             NaN
4                      Automotive
5                     Electronics
6                      Financials
7                          Retail
8                      Healthcare
9                     Electronics
10                    Commodities
11                     Healthcare
12                     Automotive
13                     Healthcare
14                    Oil and gas
15                   Construction
16                    Commodities
17                    Electronics
18                     Financials
19             Telecommunications
20                     Financials
21    Pharmaceutical distribution
22                    Oil and gas
23                     Financials
24                     Automotive
25                     Financials
26                     Automotive
27                   Conglomerate
28                     Automotive
29                         Retail
30                     Financials
31                       Internet
32    Pharmaceutical distribution
33                     Automotive
34                         Retail
35                     Financials
36                    Oil and gas
37                            NaN
38                     Financials
39                     Financials
40                     Financials
41                         Retail
42                   Conglomerate
43                     Financials
44                    Oil and gas
Name: Electricity, dtype: object

In [53]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",header=[1,3,5])

In [54]:
df

,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
0,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
1,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
2,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
3,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
4,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
5,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
6,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
7,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
8,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
9,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
10,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
11,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
12,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
13,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
14,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
15,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
16,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
17,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
18,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
19,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
20,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
21,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
22,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
23,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
24,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
25,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
26,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
27,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
28,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
29,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
30,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
31,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
32,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
33,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
34,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
35,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
36,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
37,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
38,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
39,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
40,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
41,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
42,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
43,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
44,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [55]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",parse_dates=["Date"])

In [56]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
1,2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
2,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
3,4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
4,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
5,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
6,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
7,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
8,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
9,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
10,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
11,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
12,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
13,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
14,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
15,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
16,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
17,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
18,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NONE
19,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
20,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
21,22,Trafigura,Commodities,None,$849,4.316,Singapore,3/24/2018
22,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
23,24,Exor,Financials,Null,"$1,589",314.79,Netherlands,3/26/2018
24,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
25,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
26,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
27,28,Chevron,Oil and gas,"$166,339","$14,824",None,United States,3/30/2018
28,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
29,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
30,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
31,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
32,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
33,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
34,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
35,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
36,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
37,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
38,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
39,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
40,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
41,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
42,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
43,44,Bank of China,Financials,"$127,714","$27,255",310.119,Empty,4/15/2018
44,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
45,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
46,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
47,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
48,49,Fannie Mae,Financials,Nothing,"$15,959",7.4,United States,4/20/2018
49,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [57]:
df["Country"].unique()

array(['\xa0United States', '\xa0China',
       '\xa0Netherlands / United Kingdom', '\xa0Saudi Arabia',
       '\xa0United Kingdom', '\xa0Germany', '\xa0Japan',
       '\xa0South Korea', '\xa0Switzerland', '\xa0France',
       '\xa0Singapore', '\xa0Taiwan', '\xa0Netherlands', '\xa0Russia',
       'Empty'], dtype=object)

In [58]:
emptylist=['None','Null','Nothing','Empty',"N/A","NONE"]

In [59]:
df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",na_values=emptylist)

In [60]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
1,2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
2,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
3,4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
4,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
5,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
6,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
7,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
8,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
9,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
10,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
11,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
12,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
13,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
14,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
15,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
16,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
17,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
18,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NaN
19,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
20,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
21,22,Trafigura,Commodities,NaN,$849,4.316,Singapore,3/24/2018
22,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
23,24,Exor,Financials,NaN,"$1,589",314.79,Netherlands,3/26/2018
24,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
25,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
26,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
27,28,Chevron,Oil and gas,"$166,339","$14,824",NaN,United States,3/30/2018
28,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
29,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
30,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
31,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
32,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
33,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
34,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
35,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
36,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
37,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
38,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
39,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
40,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
41,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
42,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
43,44,Bank of China,Financials,"$127,714","$27,255",310.119,NaN,4/15/2018
44,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
45,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
46,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
47,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
48,49,Fannie Mae,Financials,NaN,"$15,959",7.4,United States,4/20/2018
49,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
Rank         50 non-null int64
Name         49 non-null object
Industry     48 non-null object
Revenue      47 non-null object
Profit       49 non-null object
Employees    49 non-null object
Country      49 non-null object
Date         49 non-null object
dtypes: int64(1), object(7)
memory usage: 3.2+ KB

In [62]:
emptylist={'Industry':['N/A'],'Revenue':['None','Nothing','Null']}
#['None','Null','Nothing','Empty',"N/A","NONE"]

In [63]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
1,2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
2,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
3,4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
4,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
5,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
6,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
7,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
8,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
9,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
10,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
11,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
12,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
13,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
14,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
15,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
16,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
17,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
18,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NaN
19,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
20,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
21,22,Trafigura,Commodities,NaN,$849,4.316,Singapore,3/24/2018
22,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
23,24,Exor,Financials,NaN,"$1,589",314.79,Netherlands,3/26/2018
24,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
25,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
26,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
27,28,Chevron,Oil and gas,"$166,339","$14,824",NaN,United States,3/30/2018
28,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
29,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
30,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
31,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
32,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
33,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
34,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
35,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
36,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
37,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
38,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
39,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
40,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
41,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
42,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
43,44,Bank of China,Financials,"$127,714","$27,255",310.119,NaN,4/15/2018
44,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
45,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
46,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
47,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
48,49,Fannie Mae,Financials,NaN,"$15,959",7.4,United States,4/20/2018
49,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018

In [64]:
#df.to_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Ujian\minggu7withindex.csv")

In [65]:
#df=pd.read_csv(r"D:\Lecture\Prasmul\2. Even 2020\Programming and Algorithm\Dataset in LMS\Top companies ver2.csv",na_values=emptylist)

In [66]:
df

,Rank,Name,Industry,Revenue,Profit,Employees,Country,Date
0,1,Walmart,Retail,"$514,405","$6,670","2,200,000",United States,1/2/2012
1,2,Sinopec,Oil and gas,"$414,649","$5,845",619.151,China,3/31/2017
2,3,Royal Dutch Shell,Oil and gas,"$396,556","$23,352",81,Netherlands / United Kingdom,4/5/2019
3,4,China National Petroleum,Oil and gas,"$392,976","$2,270","1,382,401",China,2/19/2000
4,5,State Grid,Electricity,"$387,056","$8,174",917.717,China,11/15/2010
5,6,Saudi Aramco,Oil and gas,"$355,905","$110,974",76.418,Saudi Arabia,5/20/2018
6,7,BP,Oil and gas,"$303,738","$9,383",73,United Kingdom,4/19/2019
7,8,ExxonMobil,Oil and gas,"$290,212","$20,840",71,United States,3/10/2018
8,9,Volkswagen,NaN,"$278,341","$14,332",664.496,Germany,3/11/2018
9,10,Toyota,Automotive,"$272,612","$16,982",370.87,Japan,3/12/2018
10,11,Apple,Electronics,"$265,595","$59,531",132,United States,3/13/2018
11,12,Berkshire Hathaway,Financials,"$247,837","$4,021",389,United States,3/14/2018
12,13,Amazon,Retail,"$232,887","$10,073",647,United States,3/15/2018
13,14,UnitedHealth,Healthcare,"$226,247","$11,986",300,United States,3/16/2018
14,15,Samsung Electronics,Electronics,"$221,579","$39,895",221.579,South Korea,3/17/2018
15,16,Glencore,Commodities,"$219,754","$3,408",85.504,Switzerland,3/18/2018
16,17,McKesson,Healthcare,"$214,319",$34,70,United States,3/19/2018
17,18,Daimler,Automotive,"$197,515","$8,555",298.683,Germany,3/20/2018
18,19,CVS Health,Healthcare,"$194,579",-$594,295,United States,NaN
19,20,Total,Oil and gas,"$184,106","$11,446",104.46,France,3/22/2018
20,21,China State Construction,Construction,"$181,524","$3,159",302.827,China,3/23/2018
21,22,Trafigura,Commodities,NaN,$849,4.316,Singapore,3/24/2018
22,23,Foxconn,Electronics,"$175,617","$4,281",667.68,Taiwan,3/25/2018
23,24,Exor,Financials,NaN,"$1,589",314.79,Netherlands,3/26/2018
24,25,AT&T,Telecommunications,"$170,756","$19,370",254,United States,3/27/2018
25,26,ICBC,Financials,"$168,979","$45,002",449.296,China,3/28/2018
26,27,AmerisourceBergen,Pharmaceutical distribution,"$167,939","$1,658",20.5,United States,3/29/2018
27,28,Chevron,Oil and gas,"$166,339","$14,824",NaN,United States,3/30/2018
28,29,Ping An Insurance,Financials,"$163,597",NaN,342.55,China,3/31/2018
29,30,Ford,Automotive,"$160,338","$3,677",199,United States,4/1/2018
30,31,China Construction Bank,Financials,"$151,110","$38,498",366.996,China,4/2/2018
31,32,General Motors,Automotive,"$147,049","$8,014",173,United States,4/3/2018
32,33,NaN,Conglomerate,"$145,243","$5,328",79.994,Japan,4/4/2018
33,34,Honda,Automotive,"$143,302","$5,504",219.772,Japan,4/5/2018
34,35,Costco,Retail,"$141,576","$3,134",194,United States,4/6/2018
35,36,Agricultural Bank of China,Financials,"$139,523","$30,656",477.526,China,4/7/2018
36,37,Alphabet,Internet,"$136,819","$30,736",98.771,United States,4/8/2018
37,38,Cardinal Health,Pharmaceutical distribution,"$136,809",$256,50.2,United States,4/9/2018
38,39,SAIC Motor,Automotive,"$136,392","$5,443",147.738,China,4/10/2018
39,40,Walgreens Boots Alliance,Retail,"$131,537","$5,024",299,United States,4/11/2018
40,41,JPMorgan Chase,Financials,"$131,412","$32,474",256.105,United States,4/12/2018
41,42,Gazprom,Oil and gas,"$131,302","$23,199",466.1,Russia,4/13/2018
42,43,Verizon,NaN,"$130,863","$15,528",144.5,United States,4/14/2018
43,44,Bank of China,Financials,"$127,714","$27,255",310.119,NaN,4/15/2018
44,45,Allianz,Financials,"$126,779","$8,806",142.46,Germany,4/16/2018
45,46,AXA,Financials,"$125,578","$2,525",104.065,France,4/17/2018
46,47,Kroger,Retail,"$121,162","$3,110",453,United States,4/18/2018
47,48,General Electric,Conglomerate,"$120,268","-$22,355",283,United States,4/19/2018
48,49,Fannie Mae,Financials,NaN,"$15,959",7.4,United States,4/20/2018
49,50,Lukoil,Oil and gas,"$119,145","$9,863",102.5,Russia,4/21/2018